AddDefaultCharset Off

# разрешаем браузерам спокойно кэшировать картинки и css
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/gif "access plus 1 week"
    ExpiresByType text/css  "access plus 1 week"
</IfModule>

php_value output_buffering 0